<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.practica1t">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.ListViewPolideportivos"
            android:label="Polideportivos" />
        <activity
            android:name=".activities.Favoritos"
            android:label="Favoritos" />
        <activity
            android:name=".activities.PaginasInteres"
            android:label="Paginas de interes" />
        <activity
            android:name=".activities.ListViewPiscinas"
            android:label="Piscinas" />
        <activity
            android:name=".activities.BotonGuardarUbicaciones"
            android:label="Guardar Ubicacion" />
        <activity
            android:name=".activities.GuardarUbicaciones"
            android:label="Ubicacion Guardada" />
        <activity
            android:name=".activities.PolideportivosActivity"
            android:label="Polideportivos a 8KM" />
        <activity
            android:name=".activities.PiscinasActivity"
            android:label="Piscinas a 8KM" />

        <service
            android:name=".services.GpsService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activities.UbicacionActual"
            android:label="Ubicacion Actual" />
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="Deportes Madrid"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>